{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    {% if info %}
        <br>
        <button><a href="{% url 'order' %}" style="text-decoration: none; color: black">Złóż zamówienie</a></button><br><br>
        {{ title }}:
        <table style="background-color: white; margin: 10px;">
        <tr>
            <th>Product name</th>
            <th>Quantity</th>
            <th>Unit price</th>
            <th>Total price</th>
        </tr>

        {% for key, value in info.items %}
        <tr>
            <td>{{ value.name }}</td>
            <td>{{ value.quantity }}</td>
            <td>{{ value.price }}</td>
            <td>{{ value.total_price }}</td>
            <td><button><a href="{% url 'delete' id=key %}" style="color: black; text-decoration: none;">Usuń</a></button></td>
        </tr>
        {% endfor %}
    </table>
    <strong>Cena całkowita: </strong> {{ price }} PLN<br><br>
    <button type="button"><a href="{% url 'clean-cart' %}" style="text-decoration: none; color: black;">Wyczyść koszyk</a></button>
    {% else %}
        <h1>Koszyk jest pusty! <a href="{% url 'offers' %}" style="text-decoration: none; color: blue;">Przejdź do oferty sklepu!</a></h1>
    {% endif %}
{% endblock %}