{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    Cart:
    <table style="background-color: white; margin: 10px;">
    <tr>
        <th>Product name</th>
        <th>Quantity</th>
        <th>Unit price</th>
        <th>Total price</th>
    </tr>

    {% for key, value in info %}
    <tr>
        <td>{{ value.name }}</td>
        <td>{{ value.quantity }}</td>
        <td>{{ value.price }}</td>
        <td>{{ value.total_price }}</td>
    </tr>
    {% endfor %}
</table>
<strong>Cena całkowita: </strong> {{ price }} PLN
{% endblock %}