{% extends 'base.html' %}

{% block title %}
Oferta sklepu
{% endblock %}

{% block content %}
<h2>Oferta sklepu</h2>
    <div class="offers">
        {% for product in products %}
        <a href="#" class="product-a">
            <div class="product">
                <p><strong>{{ product.name }}</strong></p>
                <p><i>{{ product.description }}</i></p>
                <p>Cena: {{ product.price }} PLN</p>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}