{% extends 'base.html' %}

{% block title %}
Szczegóły produktu
{% endblock %}

{% block content %}
<h2>Szczegóły produktu</h2>
<h2>Nazwa produktu: </h2>{{ product.name }}
<h2>Opis: </h2>{{ product.description }}
<h2>Cena: </h2>{{ product.price }} PLN
<div class="amount">
    <h3>Ilość: </h3>
    <form action="" method="POST">
        {% csrf_token %}
        <input class="amount-number" name="amount-number" type="number" value="1">
        <button type="button" class="add">+</button>
        <button type="button" class="sub">-</button><br><br>
        <button type="submit" class="order">Order</button>
    </form>
</div>
<script src="/static/js/script.js"></script>
{% endblock %}